body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: white;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 1rem 2rem;
    
    top: 0;
     width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.top-bar .logo-text {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.top-bar h1 {
    font-size: 1.8rem;
    margin: 0;
}

.escudo {
    width: 50px;
    height: auto;
}

.btn-sair {
    background-color: #747474;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative; 
    z-index: 2; 
}

.btn-sair:hover {
    background-color: #575757;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

#button-container button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative; 
    z-index: 2; 
}

#button-container button:hover {
    background-color: #666; 
    transform: scale(1.05); 
}

#input {
    margin-top: 0.1rem;  
    text-align: center;
}

#busca {
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    width: 80%;  
    max-width: 400px;  
    margin: 0 auto; 
    background-color: #333; 
    color: white;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background-color: #1c1c1e;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    margin: 30px
}

#container > article {
    background-color: #38383c;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 16%; 
}
img {
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}

article {
    background-color: #a9a9a9;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 15px;
    transition: transform 0.15s;
    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.55);
}

article:hover {
    transform: scale(1.015);
}

@media (max-width: 1300px) {
    #container > article {
        width: 23%; 
    }
}

@media (max-width: 1024px) {
    #container > article {
        width: 30%; 
    }
}

@media (max-width: 768px) {
    #container > article {
        width: 100%; 
    }
}

